<%- layout("layouts/boilerplate.ejs") %>

<div class="row">
  <header class="col-12 col-xl-2 col-md-1">
    <%- include("../includes/navbar.ejs") %>
  </header>

  <main class="col-12 col-xl-8 col-md-9 position-relative">
    <%- include("../includes/upload-box.ejs") %>
    <div class="mainDiv w-100 h-100">
      <div class="container all_posts w-100">
        <%- body %>
      </div>
    </div>
  </main>

  <footer class="col-12 col-xl-2 col-md-2">
    <%- include("../includes/footer.ejs") %>
  </footer>
</div>
