<%- layout("layouts/body.ejs") %>

<div class="user-profile-section w-100 row justify-content-center">
  <div class="user-info">
    <div class="user-info-navs mx-5">
      <div class="user-info-navs-img me-2">
        <img
          src="<%= user.profile_pic %>"
          alt="UserPFP"
          class="rounded-circle border border-2 border-secondary"
        />
      </div>

      <div class="user-info-navs-opts ms-4">
        <span class="user-info-username mx-2"><%= user.username %></span>
        <% if (currentUser && currentUser._id.equals(user._id)){ %>
          <span>
            <a href="/user/<%= user._id %>/edit" class="btn btn-secondary py-0 px-3 m-2">Edit Profile</a>
          </span>
        <% } %>
        <% if (currentUser && !user._id.equals(currentUser._id)){ %>
          <% if(!currentUser.following.includes(user._id)){ %>
            <form action="/user/follow/<%= user._id %>" method="POST" class="d-inline">
              <button class="btn btn-secondary py-0 px-2 px-md-3">Follow</button>
            </form>
          <% } %>
          <% if(currentUser.following.includes(user._id)){ %>
            <form action="/user/follow/<%= user._id %>?_method=PUT" method="POST" class="d-inline">
              <button class="btn btn-secondary py-0 px-2 px-md-3">Unfollow</button>
            </form>
          <% } %>
         <a href="#" 
          ><button class="btn btn-secondary py-0 px-2 px-md-3">Message</button></a
          >
        <% } %>

        <div class="user-bio user-bio-lg">
          <h5 class="mx-2 mt-2 text-capitalize"><%= user.full_name %></h5>
          <p class="mb-0 mx-2"> <%= user.bio %> </p>
        </div>
      </div>
    </div>

    <div class="user-bio user-bio-sm mt-4">
      <h5 class="text-capitalize ms-4"><%= user.full_name %></h5>
      <p class="ms-4"><%= user.bio %></p>
    </div>

    <div class="user-info-counts my-3 mx-5 text-center">
      <div class="py-2">
        <span><%= user.posts.length %></span> <br />
        <span class="post_count">Posts</span>
      </div>
      <div class="py-2">
        <span><%= user.followers.length %></span> <br />
        <span class="post_follow" id="showFollowers">Followers</span>
        <div class="follow-box py-1 px-5 rounded-2" id="showFollowers-Div">
          <% for (let fUser of user.followers){ %>
            <div class="follow-box-item py-1">
              <a href="/user/<%= fUser._id %>" class="d-block">
                <img src="<%= fUser.profile_pic %>" alt="pfp">
                <span><%= fUser.username %></span>
              </a>
            </div>
          <% } %>
        </div>
      </div>
      <div class="py-2">
        <span><%= user.following.length %></span> <br />
        <span class="post_follow" id="showFollowing">Followings</span>
        <div class="follow-box py-1 px-5 rounded-2" id="showFollowing-Div">
          <% for (let fUser of user.following){ %>
            <div class="follow-box-item py-1">
              <a href="/user/<%= fUser._id %>" class="d-block">
                <img src="<%= fUser.profile_pic %>" alt="pfp">
                <span><%= fUser.username %></span>
              </a>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="user-posts col-10">
    <div class="user-posts-inner row">
      <% for (let post of user.posts) { %>
        <div class="card col-4 user-posts-card rounded-0 g-2">
          <a href="/user/<%= post.user_id %>/posts/<%= post._id %>" class="w-100 h-100">
            <img
            src="<%= post.image %>"
            class="card-img-top rounded-0"
            alt="UserPosts"
            />
            <div class="card-img-overlay rounded-0"></div>
          </a>
        </div>
      <% } %>
    </div>
  </div>
</div>
