<%- layout("layouts/body.ejs") %> 
<% for (let post of posts) { %>
<div
  class="card all-posts-card col-12 col-lg-7 col-md-10 mx-auto mt-3 pb-2 rounded-0 bg-black rounded-1"
>
  <p class="card-text my-1 mx-1">
    <span class="me-1">
      <img
        src="<%= post.user_id.profile_pic %>"
        alt=""
        width="35px"
        height="35px"
        class="rounded-circle object-fit-cover border border-1 border-dark"
      />
    </span>
    <i
      ><a href="/user/<%= post.user_id._id %>"
        ><%= post.user_id.username %></a
      ></i
    >
  </p>
  <img
    src="<%= post.image %>"
    class="card-img-top rounded-1 border border-1 border-dark post-image"
    alt="Socio-Image"
  />
  <div class="card-body mx-1">
    <p class="card-text all-posts-card-caption">
      <b
        ><a href="/user/<%= post.user_id._id %>"
          ><%= post.user_id.username %></a
        ></b
      >&nbsp;&nbsp;<%= post.caption %>
    </p>
  </div>
</div>
<% } %>

<div class="no-more-post">
  <p>All Post Seen</p>
</div>
